body {
    background-image: url('bgindex.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cab8da;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.icon-link {
    position: relative;
}

.icon-link img {
    position: absolute;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly across the row */
}

li {
    width: 30%; /* Set width to fit three items in a row */
    margin-bottom: 10px;
    max-width: 300px; /* Corrected max-width value with unit */
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Make links fill the entire width of the list item */
}

a:hover {
    background-color: #ddd;
}
